html,
body {
    background-color: rgb(192, 192, 192);
    height: 100%;
    margin: 0 auto;
}



.mainTitle {
    margin-left: 350px;
    font-size: 90px;

}

.secondMainTitle {
    margin-left: 350px;
    font-size: 45px;

}

.aboutMeTitle {
    font-size: 90px;
    margin-left: 350px;
    margin-bottom: 10px;
    margin-top: -50px;
}

.aboutMeTitle h1 {
    margin-bottom: 5px;
}

p {
    font-size: 30px;
    margin-left: 425px;
}

.aboutMewritten {
    margin-top: 5px;
}



.nav-container {
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    /* Change the background color */
    width: 200px;
    /* Change the width of the left bar */
    height: 100vh;
    /* Set the height to the full viewport height */
    padding-left: 30px;
    position: fixed;
}

/* .nav-container a {
    margin-top: 30px;
} */

.nav-link {
    color: #b7b7b7;
    /* Change the font color as desired */
    font-size: 20px;
    /* Change the font size as desired */
    text-decoration: none;
    /* Remove the underline from the links */
    margin: 10px 0;
    /* Add some space between the links */
}

.nav-main {
    color: #b7b7b7;
    font-size: 35px;
    text-decoration: none;
    margin: 10px 0;
    margin-top: 30px;
}

.icon-container {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 20px 0;
    padding-left: 30px;
}

.icon {
    width: 27px;
    height: 27px;
}

.mainImage img {
    position: absolute;
    width: 1250px;
    height: 1250px;
    bottom: 0;
    right: 0;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfImage {
    align-items: stretch;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    height: 100%;
}

.pfImage img {
    margin-left: 250px;
    width: 750px;
    bottom: 750px;
    padding: 10px;
}

.resume-download {
    text-align: center;
    margin-top: 50px;
}

.resume-button {
    display: inline-block;
    padding: 10px 10px;
    background-color: rgb(133, 133, 133);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 550px;
}